<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href= "@{/css/estilo.css}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My index</title>
</head>
<body class = "cuerpo1">
    <header th:insert="fragments/header.html"> </header>
    <div class ="container espacio">
      </nav>
      <h1>Aquí aparecen las prendas a las que diste al botón de favorito.</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4 pt-5">
        <div class="col">
          <div class="card h-100">
            <img th:src="@{/images/conjuntos/conjuntoEjemplo.png}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Conjunto de chándal</h5>
              <p class="card-text">Conjunto formado por una sudadera y un pantalón con unas sneakers blancas marca "nike airforce".</p>
            </div>
                <div class = "card-body">
                    <button type="button" class="btn btn-danger"><i class="bi bi-heart"></i></button>
                </div>
          </div>
        </div>
        <div class="col">
            <div class="card h-100">
              <img th:src="@{/images/conjuntos/conjuntoEjemplo.png}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Conjunto de chándal</h5>
                <p class="card-text">Conjunto formado por una sudadera y un pantalón con unas sneakers blancas marca "nike airforce".</p>
              </div>
              <div class = "card-body">
              <button type="button" class="btn btn-danger"><i class="bi bi-heart"></i></button>
          </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img th:src="@{/images/conjuntos/conjuntoEjemplo.png}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Conjunto de chándal</h5>
                <p class="card-text">Conjunto formado por una sudadera y un pantalón con unas sneakers blancas marca "nike airforce".</p>
              </div>
              <div class = "card-body">
              <button type="button" class="btn btn-danger"><i class="bi bi-heart"></i></button>
          </div>
            </div>
          </div>
      </div>
    </div>

   
    <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-primary">1</button>
        <button type="button" class="btn btn-outline-primary">2</button>
        <button type="button" class="btn btn-outline-primary">3</button>
      </div>

    <footer th:insert="fragments/footer.html"> </footer>
</body>
</html>