<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My index</title>
</head>
<body>
    <header th:insert="fragments/header.html"> </header>
    <div class="container">
        <h2>Este es el indice</h2>
        <p th:text="${key}">Ok</p>

    <div class = "listado">
        <h3>Ejemplo listado mediante codigo java. Se listan las funcionalidades de nuestra app</h3>
        <ul th:each="i : ${features}">
            <li th:text = "${i}">Name</li>
        </ul>
    </div>
    <footer th:insert="fragments/footer.html"> </footer>
</body>
</html>