<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" type="text/css" th:href= "@{/css/estilo.css}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See Photo</title>
</head>
<body>
    <header th:insert="fragments/header.html"></header>
    <div class ="container espacio">
    </nav>
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">No leido</a> <span class="badge bg-primary rounded-pill">14</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Leido</a>
        </li>
      </ul>

<!-- ---------------------------TARJETA QUE MUESTRA EL MENSAJE ------------------------->

      <div class="card">
        <h5 class="card-header">Camiseta Nike #idPrenda</h5>
        <div class="card-body">
          <h5 class="card-title">Adriana</h5>
          <p class="card-text">En cuánto dinero me dejaría esa camiseta? Gracias.</p>

<!-- ---------------------------VENTANA EMERGENTE CUANDO VAS A RESPONDER  ------------------------->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Responder</button>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Nuevo mensaje</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Destinatario:</label>
                      <input type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                      <label for="message-text" class="col-form-label">Mensaje:</label>
                      <textarea class="form-control" id="message-text"></textarea>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-primary">Enviar</button>
                </div>
              </div>
            </div>
          </div>
<!-- V---------------------------------------------------------------------------------------------------------------------------------------- -->
        </div>
        <div class="card-footer">
            <small class="text-muted">Send 3 mins ago</small>
          </div>
        
        <h1></h1><!--Para poner un espacio entre cada tarjeta-->

        <div class="card">
            <h5 class="card-header">Nike Jordan #idPrenda</h5>
            <div class="card-body">
              <h5 class="card-title">Carlos</h5>
              <p class="card-text">De dónde son las zapatillas? Gracias.</p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Responder</button>
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Nuevo mensaje</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="mb-3">
                          <label for="recipient-name" class="col-form-label">Destinatario:</label>
                          <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="mb-3">
                          <label for="message-text" class="col-form-label">Mensaje:</label>
                          <textarea class="form-control" id="message-text"></textarea>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      <button type="button" class="btn btn-primary">Enviar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
                <small class="text-muted">Send 2 hours ago</small>
              </div>

      </div>
    </div>
</div>

    <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button type="button" class="btn btn-outline-primary">1</button>
        <button type="button" class="btn btn-outline-primary">2</button>
        <button type="button" class="btn btn-outline-primary">3</button>
      </div>

    <footer th:insert="fragments/footer.html"></footer>
</body>
</html>